@page "/categories/details/{CategoryId:int}"
@using Drugstore.Shared.Entities;
@using System.Net;
@using Drugstore.Shared.Entities.Medicamento;
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

@if (category is null)
{
    <p>Cargando...</p>
}
else
{
    <h3 style="font-weight: bold;"><span class="oi oi-caret-right" style=" color: #FF9502"></span> Categoría: @category.Name</h3>
    <div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center; justify-content: flex-end; padding-right: 30px">
        <div>

            <a class="btn btn-primary" href="/medicines/create/@category.Id" style="background-color: #FF9502; border-color: #FF9502"><i class="oi oi-plus"></i> Nuevo Medicamento</a>
            <a class="btn btn-success" href="/categories">Regresar</a>
        </div>

        <div class="mx-2">
            <input style="width: 400px;" type="text" class="form-control" id="titulo" placeholder="Buscar medicamento..." @bind-value="Filter" />
        </div>
        <div>
            <button type="button" class="btn btn-outline-primary search-button" @onclick="ApplyFilterAsync" style=" color: #009688;border-color: #009688;">
                <i class="oi oi-magnifying-glass" /> Buscar
            </button>
            <button type="button" class="btn btn-outline-danger" @onclick="CleanFilterAsync"><i class="oi oi-ban" /> Limpiar</button>
        </div>
       
        
    </div>

    <Pagination CurrentPage="currentPage"
            TotalPages="totalPages"
            SelectedPage="SelectedPage" />


    <GenericList MyList="medicines">
        <Body>
            <table class="table table-striped">

                <tbody>
                    @foreach (var medicine in medicines!)
                    {
                        <tr>
                            <td style="vertical-align: middle;">
                                @medicine.Name
                            </td>
                            <td style="text-align-last: end">
                                <a class="btn btn-info" href="/medicines/details/@medicine.Id/@category.Id">Detalles</a>
                                <a class="btn btn-warning" href="/medicines/edit/@medicine.Id">Editar</a>
                                <button class="btn btn-danger" @onclick=@(() => DeleteAsync(medicine.Id))>Borrar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </Body>
    </GenericList>
}

@code {
    private Category? category;
    public List<Medicine>? medicines { get; set; }


    private int currentPage = 1;
    private int totalPages;

    [Parameter]
    public int CategoryId { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string Page { get; set; } = "";

    [Parameter]
    [SupplyParameterFromQuery]
    public string Filter { get; set; } = "";


    protected override async Task OnInitializedAsync()
    {
        await Load();
    }
    private async Task SelectedPage(int page)
    {
        currentPage = page;
        await Load(page);
    }

    private async Task Load(int page = 1)
    {
        if (!string.IsNullOrWhiteSpace(Page))
        {
            page = Convert.ToInt32(Page);
        }

        string url1 = string.Empty;
        string url2 = string.Empty;

        if (string.IsNullOrEmpty(Filter))
        {
            url1 = $"api/medicines?page={page}&CategoryId={CategoryId}";
            url2 = $"api/medicines/totalPages?CountryId={CategoryId}";
        }
        else
        {
            url1 = $"api/medicines?page={page}&filter={Filter}&CategoryId={CategoryId}";
            url2 = $"api/medicines/totalPages?filter={Filter}&CategoryId={CategoryId}";
        }


        var responseHppt = await repository.Get<List<Medicine>>(url1);
        var responseHppt2 = await repository.Get<int>(url2);
        var responseHttp3 = await repository.Get<Category>($"/api/categories/{CategoryId}");
        if (responseHttp3.Error)
        {
            if (responseHttp3.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/categories");
                return;
            }

            var message = await responseHttp3.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        medicines = responseHppt.Response!.ToList();
        totalPages = responseHppt2.Response!;
        category = responseHttp3.Response;

        }

    private async Task DeleteAsync(int id)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Realmente deseas eliminar el registro?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                CancelButtonText = "No",
                ConfirmButtonText = "Si"
            });

        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHttp = await repository.Delete($"/api/medicines/{id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode != HttpStatusCode.NotFound)
            {
                var message = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
                return;
            }
        }

        await Load();
    }

    private async Task CleanFilterAsync()
    {
        Filter = string.Empty;
        await ApplyFilterAsync();
    }

    private async Task ApplyFilterAsync()
    {
        int page = 1;
        await Load(page);
        await SelectedPage(page);
    }
}
