@page "/medicines"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService swal

<h3>Medicines</h3>

<div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center;">
    <div>
        <a class="btn btn-primary" href="/medicines/create">Nueva Medicamento</a>
    </div>
    <div class="mx-2">
        <input style="width: 400px;" type="text" class="form-control" id="titulo" placeholder="Buscar medicamento..." @bind-value="Filter" />
    </div>
    <div>
        <button type="button" class="btn btn-outline-primary" @onclick="ApplyFilterAsync">Buscar</button>
        <button type="button" class="btn btn-outline-danger" @onclick="CleanFilterAsync">Limpiar</button>
    </div>
</div>


<Pagination CurrentPage="currentPage"
            TotalPages="totalPages"
            SelectedPage="SelectedPage" />

<div class="mb-3">
    <a class="btn btn-primary" href="/medicines/create">Adicionar medicines</a>
</div>

<GenericList MyList="medicines">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Medicamento</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var medicine in medicines!)
                {
                    <tr>
                       

                        <td>
                            @medicine.Name
                        </td>
                        <td>
                            <a href="/medicines/edit/@medicine.Id" class="btn btn-warning"><i class="oi oi-pencil" />Editar</a>
                            <button class="btn btn-danger" @onclick=@(() => Delete(medicine))><i class="oi oi-trash" />Borrar</button>
                        </td>
                    </tr>


                }
            </tbody>
        </table>

    </Body>

</GenericList>


@code {
    public List<Medicine>? medicines { get; set; }
    private int currentPage = 1;
    private int totalPages;

    [Parameter]
    [SupplyParameterFromQuery]
    public string Page { get; set; } = "";

    [Parameter]
    [SupplyParameterFromQuery]
    public string Filter { get; set; } = "";

    protected async override Task OnInitializedAsync()
    {
        await Load();
    }

    private async Task SelectedPage(int page)
    {
        currentPage = page;
        await Load(page);
    }

    private async Task Load(int page = 1) // inicio de la pagina
    {
        if (!string.IsNullOrWhiteSpace(Page))
        {
            page = Convert.ToInt32(Page);
        }

        string url1 = string.Empty;
        string url2 = string.Empty;

        if (string.IsNullOrEmpty(Filter))
        {
            url1 = $"api/medicines?page={page}";
            url2 = $"api/medicines/totalPages";
        }
        else
        {
            url1 = $"api/medicines?page={page}&filter={Filter}";
            url2 = $"api/medicines/totalPages?filter={Filter}";
        }



        var responseHppt = await repository.Get<List<Medicine>>(url1);
        var responseHppt2 = await repository.Get<int>(url2);
        medicines = responseHppt.Response!;
        totalPages = responseHppt2.Response!;
    }

    private async Task Load()
    {
        var responseHppt = await repository.Get<List<Medicine>>("api/categories");
        medicines = responseHppt.Response!;
    }


    private async Task Delete(Medicine medicine)
    {
        var result = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Esta seguro que quieres borrar el registro?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }

        var responseHTTP = await repository.Delete($"api/categories/{medicine.Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/");
            }
            else
            {
                var mensajeError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            await Load();
        }
    }
    private async Task CleanFilterAsync()
    {
        Filter = string.Empty;
        await ApplyFilterAsync();
    }

    private async Task ApplyFilterAsync()
    {
        int page = 1;
        await Load(page);
        await SelectedPage(page);
    }
}
