@page "/medicines/edit/{Id:int}"
@using Drugstore.Shared.Entities.Medicamento;
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService swal

<h3>Editar Medicamento</h3>

@if (medicine is null)
{
    <p>Cargando...</p>
}
else
{
    <MedicineForm @ref="medicineForm" Medicine="medicine" OnValidSubmit="Edit" ReturnAction="Return" />
}

@code {
    private Medicine? medicine;
    private MedicineForm? medicineForm;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHTTP = await repository.Get<Medicine>($"api/medicines/{Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("medicines");
            }
            else
            {
                var messageError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", messageError, SweetAlertIcon.Error);
            }
        }
        else
        {
            medicine = responseHTTP.Response;
        }
    }

    private async Task Edit()
    {
        var responseHTTP = await repository.Put("api/medicines", medicine);

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessageAsync();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            medicineForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("medicines");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("medicines");
    }
}

