@page "/medicines/create/{CategoryId?}"
@using CurrieTechnologies.Razor.SweetAlert2;
@using Drugstore.Shared.Entities.Medicamento;
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3 style="font-weight: bold;"><span class="oi oi-caret-right" style=" color: #FF9502"></span> Agregar medicamento</h3>


<MedicineForm @ref="MedicineForm" Medicine="medicine" OnValidSubmit="Create"
              ReturnAction="Return" CategoryId="@CategoryId" />

@code {
    private Medicine medicine = new();

    [Parameter]
    public  string CategoryId { get; set; }  = null;


    private MedicineForm? MedicineForm;

    private async Task Create()
    {
        // llama al repositorio y ejecuta el api 
        var httpResponse = await repository.Post("/api/medicines?selectedCategories=" + MedicineForm.CategoryIdValue, medicine);
        if (httpResponse.Error)
        {
            var mensajeError = await httpResponse.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            MedicineForm!.FormPostedSuccessfully = true;


        navigationManager.NavigateTo("medicines");
    }
    } // se devuelve a la navegación 
    private void Return()
    {
        navigationManager.NavigateTo("/medicines");
    }
}

