@page "/"
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Index</PageTitle>

<CascadingAuthenticationState>
    <AuthorizeView Roles="Admin">
        <Authorized>
            <p>Estás autenticado y autorizado @context.User.Identity?.Name</p>
        </Authorized>
        <NotAuthorized>
            <p>No estás autorizado.</p>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

