@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar" style="width: 270px;">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4" style=" background-color: #edf9f8; border-bottom: 1px solid #edf9f8; height: 3rem; align-items: center">
            <CascadingAuthenticationState>
                    <AuthorizeView>
                        <Authorized>
                        <span style="color: #FF9502"> Hola, @context.User.Identity!.Name </span>
                        <div>
                            <a href="Logout" class="btn btn-primary" style="background-color: #FF9470; border-color: #FF9470; color:#3C0000 " <i class="oi oi-account-logout"></i> Cerrar Sesión </a>
                        </div>
                        </Authorized>
                        <NotAuthorized>
                        
                        <div>  
                            <a href="Register" class="btn btn-primary" style="background-color: #9AFA6E; border-color: #9AFA6E; color: #099443 " <i class="oi oi-person"></i> Registro </a>
                        </div>
                        <div>
                            <a href="Login" class="btn btn-primary" style="background-color: #46E5F5; border-color: #46E5F5; color: #237178" <i class="oi oi-account-login"></i> Iniciar Sesión </a>
                        </div>
                        </NotAuthorized>
                    </AuthorizeView>
             </CascadingAuthenticationState>

            <a href="https://docs.microsoft.com/aspnet/" target="_blank" style="color: #009688">Contactenos</a>
        </div>

        <article class="content px-4" style="margin-top: 3rem; color: dimgray">
            @Body
        </article>
    </main>
</div>
