@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4" style=" background-color: #edf9f8; border-bottom: 1px solid #fdf3ee; height: 2.5rem; align-items: center">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank" style="color: #009688">About</a>
        </div>

        <article class="content px-4" style="margin-top: 3rem; color: dimgray">
            @Body
        </article>
    </main>
</div>
